
.myButton {
  position: absolute;         
  top: 50%;                   
  left: 50%;                  
  transform: translate(-75%, -75%); 
  background-color: #FF6FE3;  
  color: white;
  width: 180px;
  height: 60px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.2s;
  font-family: "Helvetica";
}

.myButton:hover {
  background-color: #DF11B7; 
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;      
  height: 100vh;     
  background: rgba(0, 0, 0, 0.20); 
  display: flex;    
  align-items: center;
  justify-content: center; 
  z-index: 1000;     
}

.hidden {
  display: none;
}

.overlay-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  transform: translate(-10%, -5%); 
  width: 400px;
  height: auto;   
}

.overlay-content h1{
    font-size: 20px;  
}

.overlay-content p{
    font-size: 20px;  
}

.close-button {
  margin-top: 10px;
  padding: 5px 10px;
  border: none;
  background-color: #FF6FE3;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-family: "Helvetica";
}
